<div class="search-container">
    <form class="search-form" action="/users/find" method="post">
      <input id="query"  class="search-input" type="search" name="query" placeholder="Find people...">
      <button class="btn-text" type="submit">Search</button>
      <input type="hidden" name="_csrf" value='<%=csrfToken%>'>
    </form>
  </div>