
<head>
    <script src="chess.js" defer> </script>
    <link rel="stylesheet" href="chess.css">
    <script src="https://kit.fontawesome.com/9eb54e81b4.js" crossorigin="anonymous"></script>
</head>

<body>
    <div id="big"></div>
    <button id="newGame" class="button" onclick="newGame()">game</button>
    <button id="blackMove" class="button" onclick="blackMove()">black</button>
    <button id="whiteMove" class="button " onclick="whiteMove()">white</button>
</body>

</html>