<%- include('includes/head.ejs')%>

    <body>
        <%- include('includes/navigation.ejs')%>
            <form class="form" action="/gradient/create" method="post">
                <label for="title"> Gradient name</label>
                <input id ="title" class = "form-input-text" type="text" name="title" placeholder="Your gradient tilte..." required>

                <label for="tags">Tags</label>
                <input id = "tags" class = "form-input-text" type="text" name="tags" placeholder="seperate by comas">

                <label for ="color"></label>
                <input id = "color" class = "form-input-color" type="color" name="color1" placeholder="color..." required>
                <input id = "color" class = "form-input-color" type="color" name="color2" placeholder="color..." required>
                <button class="btn" type="submit">Create Gradient</button>
            </form>

            <%- include('includes/end.ejs')%>