body {
    display: flex;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    height: 100vh;
    width: 100vw;
    align-items: right;
  
}

.top{
    width: 100%;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "logo search"
                        "nav main"; 
}

@media screen and (max-width: 480px){
    .top{
        width: 100%;
        display: grid;
        grid-template-columns: 200px 1fr;
        grid-template-rows: auto 1fr;
        grid-template-areas: "logo nav" 
                              "search main"
    }
}
.right-body{
    display: block;
}
.main{
    grid-area: main;
    padding: 20px;
   
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: logo;
    background-color: black;
}
/* .container{
max-width: 75vw;
} */

.search-container{
    grid-area: search;
    padding: 20px;
}

.search-input {
    height: 100%;
    padding: 10px;
}

.search-form {
    display: grid;
    grid-template-columns: 1fr 100px;
    gap: 10px;
}



.mian-header{
    height: 100vh;
    width: 200px;
    background-color: #853fe0;
}

.nav-bar-container{
 grid-area: nav; 
 background-color: #853fe0;
}

.main-header__nav{
    height: 100%;
    display: block;
    width: 200px;
    background-color: #853fe0; 
}

.main-header__item-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
}


.main-header__item {
    /* margin: 0 1rem; */
    margin: 20px;
    padding: 0;


}

.main-header__item a {
    text-decoration: none;
    color: white;
    font-size: 18px;
}
.main-header__item a:hover,
.main-header__item a:active,
.main-header__item a.active{
   color:#4a018a; 
   border-bottom: solid 2px #BC6FF1 ;
}

.nav_button{
border: none;
padding: 0;
color:white;
background: none;
font-size: 18px;

/* margin: 10px; */

}
.nav_button:hover{
    color:#4a018a; 
   border-bottom: solid 2px #BC6FF1 ;
}

/* forms stuff */

.form-subcontainer{
    display: block;
}
.form-title{
    font-size: 25px;
}
.form-group{
   font-family: Arial, Helvetica, sans-serif;
   margin: 1rem;
}

.btn{
        background: none;
        color: inherit;
        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: inherit;
    
}
.btn-text:hover{
    background-color:  #52057B; ;
}


.icon.big{
    height: 45px;
    width: 45px;
    font-size: 40px;
    color: black;
}


.btn-download{
    background: none;
        color: inherit;
        border: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: inherit;
    height: 45px;
    width: 45px;
    font-size: 40px;
    color: black;

}
.btn-download:hover{
    color:#4a018a; 
}


.download-form{
    display: flex;
}

.favorite:hover{
color:#4a018a; 
}

.delete:hover{
    color:#4a018a; 
}



.btn-text{
    font-family: Arial, Helvetica, sans-serif;
    margin: 5px;
    font-size: 15px;
    background-color:#853fe0;
   color:white; 
    border-radius: 20px;;
    height: 40px;
    width: 100px;
    cursor: pointer;
    padding: 0;
    border: none; 


}
.tag{
    height: 20px;
    width: 100px;
    border-radius: 5px;
    border: solid 2px #8f8f8f;
    margin: 5px; 
}

input,label{
    display: block;
}
input{
    height: 30px;
    width: 75vw;
    border-radius: 30px;
    border: solid 2px black;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    display: inline-block;
}



input [type="search"]{
    height: 30px;
    width: 50vw;
    border-radius: 5px;
    /* border-color: black; */
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    display: inline-block;
}
input[type = "color"]{
    height: 30px;
    width: 50px;
    border-radius: 10px;
    outline:none;
    outline-width: 0;
    /* -webkit-appearance: none; */
	border: none;
    border-style: none;
    /* box-sizing: border-box; */
}
input[type="color"]::-webkit-color-swatch-wrapper {
	padding: 0;
}
input[type="color"]::-webkit-color-swatch {
	border: none;
    border-radius: 15px;
}

select{
    height: 30px;
    width: 75vw;
    border-radius: 30px;
    border: solid 2px black;
}

/* gradient canvas */
.canvas {
    padding: 10px;
    border-radius: 9px;
    height: 500px;
    width: 500px;
}

.wrap-canvas{
    display: flex;
    justify-content: center;
}
.gradient-container{
    display: block;
    /* align-items: center;
    justify-content: flex-end; */
}

.info-container{
    padding: 10px;
    display: block;
    justify-content: center;
    align-items: center;
    
}

.info-subcontainer{
    display: block;
    align-items: center;
    justify-content: center;
    margin: 10px; 
}
.btns-container{
    display: flex;
}

.info-text{
    display: block;
}

.tags-container{
    display: flex;
}


.profile-flex{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.profile-block{
 display:block;

}

li{
    list-style-type: none;
}
ul{
    list-style-type: none;
}

.profile-nav-container{
    display: flex;
    justify-content: space-evenly;
}
.profile-nav-item a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    
}

.profile-a{
    width: 100%;
    height: 40px;
    border-radius: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    background-color:#853fe0;
    border:none;
}

.profile-a:hover{
    background-color: #4a018a;
}
.profile-a:focus{
    background-color: #4a018a;
}

.small-container{
 padding: 10px;  
  width: 300px; 
}

.flex-container {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}

.small-canvas{
    border-radius: 9px;
}
.small-canvas:hover{
    cursor: pointer; 
}


.text-small{
    width: 100px;
}

.dwnl-label{
    color: black;
    font-size: 15px;
}
.download-container{
    display: flex;
}


.home{
    display: flex;
    padding: none;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-image: linear-gradient( to top left, #8422e0, #e09a22);
 

    height: 100%;
    width: 100%;
    /* opacity: 0.7; */
}

.home-title{
    font-size: 50px;
    font-weight: bold;
    opacity: 1.0;
}

.link-container{
    border: 2px solid #853fe0; 
    height: 40px;
    width: 100px;
}

.link-btn{
    background: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: inherit;
        font-size: 15px;
    color: #853fe0; 
    text-decoration: none;
    border: 2px solid #853fe0; 
    height: 40px;
    width: 100px;
    border-radius: 20px;
    margin: 5px;
}
.link-btn:hover{
    border-color: #4a018a;
}
.link{
    color:#8422e0;
    text-decoration: none;
}
.link:hover{
  color: #4a018a;
}

.lg-btns-container{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

.like{
       background: none;
        padding: 0;
        font: inherit;
        cursor: pointer;
        outline: inherit;
        border: none;
    height: 20px;
    width: 20px;
    font-size: 15px;
    
}




